<component name="ArtifactManager">
  <artifact type="exploded-ear" name="spring-docker:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_docker_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-docker/javaeeApplication/javaEEApplication" />
      <element id="directory" name="web.war">
        <element id="artifact" artifact-name="spring-docker:war exploded" />
      </element>
    </root>
  </artifact>
</component>